In [1]:
import os
from dotenv import load_dotenv

if "MYSQL_URI" in os.environ:
    os.environ.pop("MYSQL_URI")
load_dotenv()

True

In [2]:
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")

In [3]:
from langchain_core.prompts import ChatPromptTemplate

template = '''
    Based on the table schema below, write a SQL query that would answer the user's question:
    {schema}

    Question: {question}
    SQL Query
'''

prompt = ChatPromptTemplate.from_template(template)

In [4]:
prompt.format(schema="my schema", question="how many users are there?")

"Human: \n    Based on the table schema below, write a SQL query that would answer the user's question:\n    my schema\n\n    Question: how many users are there?\n    SQL Query\n"

In [5]:
from langchain_community.utilities import SQLDatabase

db_uri = os.getenv("MYSQL_URI")

db = SQLDatabase.from_uri(db_uri)
db_uri

'mysql+mysqlconnector://root:Sjd111%40222@localhost:3306/world'

In [6]:
db.run("select * from country limit 20;")

"[('ABW', 'Aruba', 'North America', 'Caribbean', Decimal('193.00'), None, 103000, Decimal('78.4'), Decimal('828.00'), Decimal('793.00'), 'Aruba', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 129, 'AW'), ('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', Decimal('652090.00'), 1919, 22720000, Decimal('45.9'), Decimal('5976.00'), None, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Mohammad Omar', 1, 'AF'), ('AGO', 'Angola', 'Africa', 'Central Africa', Decimal('1246700.00'), 1975, 12878000, Decimal('38.3'), Decimal('6648.00'), Decimal('7984.00'), 'Angola', 'Republic', 'José Eduardo dos Santos', 56, 'AO'), ('AIA', 'Anguilla', 'North America', 'Caribbean', Decimal('96.00'), None, 8000, Decimal('76.1'), Decimal('63.20'), None, 'Anguilla', 'Dependent Territory of the UK', 'Elisabeth II', 62, 'AI'), ('ALB', 'Albania', 'Europe', 'Southern Europe', Decimal('28748.00'), 1912, 3401200, Decimal('71.6'), Decimal('3205.00'), Decimal('2500.00'), 'Shqipëria', 'Republic', 'Rexhep Mejdani', 34, 'AL'), ('AND', 'Andorra', 'Europe', 'Southern Europe', Decimal('468.00'), 1278, 78000, Decimal('83.5'), Decimal('1630.00'), None, 'Andorra', 'Parliamentary Coprincipality', '', 55, 'AD'), ('ANT', 'Netherlands Antilles', 'North America', 'Caribbean', Decimal('800.00'), None, 217000, Decimal('74.7'), Decimal('1941.00'), None, 'Nederlandse Antillen', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 33, 'AN'), ('ARE', 'United Arab Emirates', 'Asia', 'Middle East', Decimal('83600.00'), 1971, 2441000, Decimal('74.1'), Decimal('37966.00'), Decimal('36846.00'), 'Al-Imarat al-´Arabiya al-Muttahida', 'Emirate Federation', 'Zayid bin Sultan al-Nahayan', 65, 'AE'), ('ARG', 'Argentina', 'South America', 'South America', Decimal('2780400.00'), 1816, 37032000, Decimal('75.1'), Decimal('340238.00'), Decimal('323310.00'), 'Argentina', 'Federal Republic', 'Fernando de la Rúa', 69, 'AR'), ('ARM', 'Armenia', 'Asia', 'Middle East', Decimal('29800.00'), 1991, 3520000, Decimal('66.4'), Decimal('1813.00'), Decimal('1627.00'), 'Hajastan', 'Republic', 'Robert Kotšarjan', 126, 'AM'), ('ASM', 'American Samoa', 'Oceania', 'Polynesia', Decimal('199.00'), None, 68000, Decimal('75.1'), Decimal('334.00'), None, 'Amerika Samoa', 'US Territory', 'George W. Bush', 54, 'AS'), ('ATA', 'Antarctica', 'Antarctica', 'Antarctica', Decimal('13120000.00'), None, 0, None, Decimal('0.00'), None, '–', 'Co-administrated', '', None, 'AQ'), ('ATF', 'French Southern territories', 'Antarctica', 'Antarctica', Decimal('7780.00'), None, 0, None, Decimal('0.00'), None, 'Terres australes françaises', 'Nonmetropolitan Territory of France', 'Jacques Chirac', None, 'TF'), ('ATG', 'Antigua and Barbuda', 'North America', 'Caribbean', Decimal('442.00'), 1981, 68000, Decimal('70.5'), Decimal('612.00'), Decimal('584.00'), 'Antigua and Barbuda', 'Constitutional Monarchy', 'Elisabeth II', 63, 'AG'), ('AUS', 'Australia', 'Oceania', 'Australia and New Zealand', Decimal('7741220.00'), 1901, 18886000, Decimal('79.8'), Decimal('351182.00'), Decimal('392911.00'), 'Australia', 'Constitutional Monarchy, Federation', 'Elisabeth II', 135, 'AU'), ('AUT', 'Austria', 'Europe', 'Western Europe', Decimal('83859.00'), 1918, 8091800, Decimal('77.7'), Decimal('211860.00'), Decimal('206025.00'), 'Österreich', 'Federal Republic', 'Thomas Klestil', 1523, 'AT'), ('AZE', 'Azerbaijan', 'Asia', 'Middle East', Decimal('86600.00'), 1991, 7734000, Decimal('62.9'), Decimal('4127.00'), Decimal('4100.00'), 'Azärbaycan', 'Federal Republic', 'Heydär Äliyev', 144, 'AZ'), ('BDI', 'Burundi', 'Africa', 'Eastern Africa', Decimal('27834.00'), 1962, 6695000, Decimal('46.2'), Decimal('903.00'), Decimal('982.00'), 'Burundi/Uburundi', 'Republic', 'Pierre Buyoya', 552, 'BI'), ('BEL', 'Belgium', 'Europe', 'Western Europe', Decimal('30518.00'), 1830, 10239000, Decimal('77.8'), Decimal('249704.00'), Decimal('243948.00'), 'België/Belgique', 'Constitutional Monarchy, Federation', 'Albert II', 179, 'BE'), ('BEN', 'Benin', 'Africa', 'Western Africa', Decimal('112622.00'), 1960, 6097000, Decimal('50.2'), Decimal('2357.00'), Decimal('2141.00'), 'Bénin', 'Republic', 'Mathieu Kérékou', 187, 'BJ')]"

In [7]:
def get_schema(_):
    return db.get_table_info()

In [8]:
get_schema(None)

"\nCREATE TABLE city (\n\t`ID` INTEGER NOT NULL AUTO_INCREMENT, \n\t`Name` CHAR(35) NOT NULL DEFAULT '', \n\t`CountryCode` CHAR(3) NOT NULL DEFAULT '', \n\t`District` CHAR(20) NOT NULL DEFAULT '', \n\t`Population` INTEGER NOT NULL DEFAULT '0', \n\tPRIMARY KEY (`ID`), \n\tCONSTRAINT city_ibfk_1 FOREIGN KEY(`CountryCode`) REFERENCES country (`Code`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from city table:\nID\tName\tCountryCode\tDistrict\tPopulation\n1\tKabul\tAFG\tKabol\t1780000\n2\tQandahar\tAFG\tQandahar\t237500\n3\tHerat\tAFG\tHerat\t186800\n*/\n\n\nCREATE TABLE country (\n\t`Code` CHAR(3) NOT NULL DEFAULT '', \n\t`Name` CHAR(52) NOT NULL DEFAULT '', \n\t`Continent` ENUM('Asia','Europe','North America','Africa','Oceania','Antarctica','South America') NOT NULL DEFAULT 'Asia', \n\t`Region` CHAR(26) NOT NULL DEFAULT '', \n\t`SurfaceArea` DECIMAL(10, 2) NOT NULL DEFAULT '0.00', \n\t`IndepYear` SMALLINT, \n\t`Population` INTEGER NOT NULL DEFAULT '0', \n\t`LifeExpectancy` DECIMAL(3, 1), \n\t`GNP` DECIMAL(10, 2), \n\t`GNPOld` DECIMAL(10, 2), \n\t`LocalName` CHAR(45) NOT NULL DEFAULT '', \n\t`GovernmentForm` CHAR(45) NOT NULL DEFAULT '', \n\t`HeadOfState` CHAR(60), \n\t`Capital` INTEGER, \n\t`Code2` CHAR(2) NOT NULL DEFAULT '', \n\tPRIMARY KEY (`Code`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from country table:\nCode\tName\tContinent\tRegion\tSurfaceArea\tIndepYear\tPopulation\tLifeExpectancy\tGNP\tGNPOld\tLocalName\tGovernmentForm\tHeadOfState\tCapital\tCode2\nABW\tAruba\tNorth America\tCaribbean\t193.00\tNone\t103000\t78.4\t828.00\t793.00\tAruba\tNonmetropolitan Territory of The Netherlands\tBeatrix\t129\tAW\nAFG\tAfghanistan\tAsia\tSouthern and Central Asia\t652090.00\t1919\t22720000\t45.9\t5976.00\tNone\tAfganistan/Afqanestan\tIslamic Emirate\tMohammad Omar\t1\tAF\nAGO\tAngola\tAfrica\tCentral Africa\t1246700.00\t1975\t12878000\t38.3\t6648.00\t7984.00\tAngola\tRepublic\tJosé Eduardo dos Santos\t56\tAO\n*/\n\n\nCREATE TABLE countrylanguage (\n\t`CountryCode` CHAR(3) NOT NULL DEFAULT '', \n\t`Language` CHAR(30) NOT NULL DEFAULT '', \n\t`IsOfficial` ENUM('T','F') NOT NULL DEFAULT 'F', \n\t`Percentage` DECIMAL(4, 1) NOT NULL DEFAULT '0.0', \n\tPRIMARY KEY (`CountryCode`, `Language`), \n\tCONSTRAINT `countryLanguage_ibfk_1` FOREIGN KEY(`CountryCode`) REFERENCES country (`Code`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from countrylanguage table:\nCountryCode\tLanguage\tIsOfficial\tPercentage\nABW\tDutch\tT\t5.3\nABW\tEnglish\tF\t9.5\nABW\tPapiamento\tF\t76.7\n*/"

Creating SQL Chain

In [9]:
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough
from langchain_openai import ChatOpenAI

llm = ChatOpenAI()

sql_chain = (
    RunnablePassthrough.assign(schema=get_schema)
    | prompt
    | llm.bind(stop = "\nSQL Result:")
    | StrOutputParser()
)

In [19]:
sql_chain.invoke({"question": "which continent is largest"})

'SELECT Continent, SUM(SurfaceArea) AS TotalSurfaceArea\nFROM country\nGROUP BY Continent\nORDER BY TotalSurfaceArea DESC\nLIMIT 1;'

In [11]:
template = '''
Based os the table schema below, question, sql query, and sql response, write a natural language response:
{schema}

Question: {question}
SQL Query: {query}
SQL Response: {response}
'''

prompt = ChatPromptTemplate.from_template(template)

In [12]:
def run_query(query):
    return db.run(query)

In [13]:
db.run('SELECT COUNT(*) AS total_contries\nFROM country;')

'[(239,)]'

In [22]:
db.get_usable_table_names()

['city', 'country', 'countrylanguage']

In [14]:
full_chain = (
    RunnablePassthrough.assign(query=sql_chain).assign(
        schema=get_schema,
        response= lambda vars: run_query(vars["query"])
    )
    | prompt
    | llm
    | StrOutputParser()
)

In [259]:
full_chain.invoke({"question": "list down features of sri lanka"})

"Sri Lanka is located in Asia, specifically in Southern and Central Asia. It has a surface area of 65,610.00 square kilometers. Sri Lanka gained independence in 1948 and has a population of approximately 18,827,000 people. The life expectancy in Sri Lanka is 71.8 years. The country's GNP is 15,706.00 and the GNPOld is 15,091.00. Sri Lanka is a republic with Chandrika Kumaratunga as the head of state and the capital is 3217."

In [240]:
full_chain.invoke({"question": "compare srilanka and india"})

"India has a larger surface area of 3,287,263 square kilometers compared to Sri Lanka's 65,610 square kilometers. India also has a higher population of 1,013,662,000 compared to Sri Lanka's population of 18,827,000. India's life expectancy is 62.5 years, while Sri Lanka's is 71.8 years. India's GNP is $447,114.00 and Sri Lanka's is $15,706.00. The government forms in India and Sri Lanka are a Federal Republic and a Republic respectively."

In [241]:
full_chain.invoke({"question": "list down 5 countries with more than 80 life expectancies, with values"})

'The SQL query was executed to list down 5 countries with more than 80 life expectancies. The response returned the following countries with their respective life expectancies: Andorra (83.5), Japan (80.7), Macao (81.6), Singapore (80.1), and San Marino (81.1). These countries have a higher life expectancy compared to the threshold of 80 years.'

In [242]:
full_chain.invoke({"question": "what language is spoken by large numbere of people"})

'The language spoken by the largest number of people based on the data is English.'

In [243]:
full_chain.invoke({"question": "list down every cities in afghanistan with their population in descending order"})

'The cities in Afghanistan with their population in descending order are Kabul with a population of 1,780,000, Qandahar with a population of 237,500, Herat with a population of 186,800, and Mazar-e-Sharif with a population of 127,800.'

In [33]:
full_chain.invoke({"question": "which continent is largest"})

'The largest continent based on surface area is Asia, with a total surface area of 31,881,005.00 square units.'

# using sql agent

In [26]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents.agent_types import AgentType
toolkit = SQLDatabaseToolkit(db=db, llm=llm)
agent_executor = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

In [35]:
agent_executor.run("list down each continent with there total surface area")

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: city, country, countrylanguageI should query the schema of the `country` table to see if it contains the continent and surface area columns.
Action: sql_db_schema
Action Input: country
CREATE TABLE country (
	`Code` CHAR(3) NOT NULL DEFAULT '',
	`Name` CHAR(52) NOT NULL DEFAULT '',
	`Continent` ENUM('Asia','Europe','North America','Africa','Oceania','Antarctica','South America') NOT NULL DEFAULT 'Asia',
	`Region` CHAR(26) NOT NULL DEFAULT '',
	`SurfaceArea` DECIMAL(10, 2) NOT NULL DEFAULT '0.00',
	`IndepYear` SMALLINT,
	`Population` INTEGER NOT NULL DEFAULT '0',
	`LifeExpectancy` DECIMAL(3, 1),
	`GNP` DECIMAL(10, 2),
	`GNPOld` DECIMAL(10, 2),
	`LocalName` CHAR(45) NOT NULL DEFAULT '',
	`GovernmentForm` CHAR(45) NOT NULL DEFAULT '',
	`HeadOfState` CHAR(60),
	`Capital` INTEGER,
	`Code2` CHAR(2) NOT NULL DEFAULT '',
	PRIMARY KEY (`Code`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from country table:
Code	Name	Continent	Region	SurfaceArea	IndepYear	Population	LifeExpectancy	GNP	GNPOld	LocalName	GovernmentForm	HeadOfState	Capital	Code2
ABW	Aruba	North America	Caribbean	193.00	None	103000	78.4	828.00	793.00	Aruba	Nonmetropolitan Territory of The Netherlands	Beatrix	129	AW
AFG	Afghanistan	Asia	Southern and Central Asia	652090.00	1919	22720000	45.9	5976.00	None	Afganistan/Afqanestan	Islamic Emirate	Mohammad Omar	1	AF
AGO	Angola	Africa	Central Africa	1246700.00	1975	12878000	38.3	6648.00	7984.00	Angola	Republic	José Eduardo dos Santos	56	AO
*/The `country` table contains the `Continent` and `SurfaceArea` columns that I need to answer the question.
Action: sql_db_query
Action Input: SELECT Continent, SUM(SurfaceArea) AS TotalSurfaceArea FROM country GROUP BY Continent[('North America', Decimal('24214470.00')), ('Asia', Decimal('31881005.00')), ('Africa', Decimal('30250377.00')), ('Europe', Decimal('23049133.90')), ('South America', Decimal('17864926.00')), ('Oceania', Decimal('8564294.00')), ('Antarctica', Decimal('13132101.00'))]I now know the final answer

Final Answer: North America: 24,214,470.00, Asia: 31,881,005.00, Africa: 30,250,377.00, Europe: 23,049,133.90, South America: 17,864,926.00, Oceania: 8,564,294.00, Antarctica: 13,132,101.00

> Finished chain.

'North America: 24,214,470.00, Asia: 31,881,005.00, Africa: 30,250,377.00, Europe: 23,049,133.90, South America: 17,864,926.00, Oceania: 8,564,294.00, Antarctica: 13,132,101.00'